
#footer {
  color:#AAA;
  font-size:16px;
  position:absolute;
  bottom:10px;
  right:10px;
  white-space:nowrap;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  color:white;

  background-color:black;

}


#logo {
  position:relative;
  top:4px;
}
